<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ejs</title>
</head>
<body>
    <h2>登录页面</h2>
    <form action="/doPost" method="post">
        <input type="text" name="username">
        <br>
        <input type="text" name="pwd">
        <br>
        <input type="submit" value="登录">
    </form>
    <br>
    <form action="/doGet" method="get">
        <input type="text" name="username">
        <br>
        <input type="text" name="pwd">
        <br>
        <input type="submit" value="登录">
    </form>
</body>
</html>